/* css */

#whiteBackground {
    background-color: white;
    width: 1155px;
    height: 1885px;
    margin: auto;
    border-radius: 5%;
}

#whiteBackground h1 {
    text-align: center;
}

#whiteBackground img {
    z-index: 2;
    display: block;
    margin: auto;
    width: 35%;
}