/* css */

#whiteBackground {
    background-color: white;
    width: 100%;
    max-width: 1155px;
    height: 1500px;
    margin: auto;
    border-radius: 5%;
}

#whiteBackground h1 {
    text-align: center; 
}

#whiteBackground img {
    z-index: 2;
    display: block;
    margin: 0 auto 10px;
    width: 35%;
    padding-top: 3%;
}

.result h3,
h4,
h5 {
    text-align: center;
}


.video-container,
iframe {
    display: block;
    margin: auto;
    align-items: center;
    margin-bottom: 16px;
}

.rainbow-box {
    border: 5px solid transparent;
    border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
    border-image-slice: 1;
    height: 200px;
    margin: 20px auto;
    width: 500px;
    z-index: 2;
    border-radius: 5%; 
}

button { 
    display: block; 
    margin-top: 50px;
    margin-bottom: 20px; 
    margin: auto;
    background-color: black; 
    color: white;
    border-radius: 5%;
    padding: 14px 40px;
}

